/* line 5, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 0.5rem 0;
  user-select: none;
}

/* line 14, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Month {
  height: 100%;
  width: 98%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
}

/* line 22, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-NavBar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 .5rem;
}

/* line 29, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-NavButton {
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

/* line 39, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-NavButton--prev {
  right: 3rem;
  background-image: url("../calendar/assets/prev1.jpg");
}

/* line 44, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-NavButton--next {
  right: 1rem;
  background-image: url("../calendar/assets/next1.jpg");
}

/* line 50, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Caption {
  display: table-caption;
  height: 1.5rem;
  text-align: left;
  padding-bottom: 0.5rem;
}

/* line 56, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Weekdays {
  display: table-header-group;
}
/* line 58, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Weekdays > div {
  display: table-row;
}

/* line 63, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Weekday {
  color: #000000;
  display: table-cell;
  padding: .2rem;
  font-size: .875em;
  text-align: center;
  border: 1px solid #dce0e0;
  border-collapse: collapse;
}

/* line 70, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Body {
  display: table-row-group;
}

/* line 74, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Week {
  display: table-row;
}

/* line 78, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Day {
  display: table-cell;
  padding: .5rem;
  border: 1px solid #eaecec;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

/* line 87, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

/* line 94, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Day--today {
  color: #d0021b;
  font-weight: normal;
}

/* line 99, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
  background-color: #eff1f1;
}

/* line 105, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Day--sunday {
  color: #dce0e0;
  background-color: #f7f8f8;
}

/* line 110, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Day--outside {
  cursor: default;
  color: #dce0e0;
}

/* line 115, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: white;
  background-color: #4a90e2;
}

/* line 122, ../react-day-picker-master/site/src/style/DayPicker.scss */
.DayPicker--ar {
  direction: rtl;
}
